body {
    background-color: #F3F3E0;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    color: #608BC1;
   text-align: center;
    
  }
  
  thead{
    background-color: #28036a;
    border-bottom: solid 5px #0F362D;
    color: white;
  }
  
  tr:nth-child(even){
    background-color: #BFDAFF;
  }
  
  tr:hover td{
    background-color: #369681;
    color: white;
  }
@media (max-width: 720px) {
   #main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
    .iframe{
        justify-content: center;
        align-items: center;
        height="200px";
        width="450px";
        frameborder="0"; 
}
    h3{
        font-size: 40px;
        text-align: center;
          background-color: #F3F3E0;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    color: #608BC1;
        }
    .foto{
        height="600px" 
        width="450px"
        padding="70px"
    }        
}   

@media (max-width: 725px) {
    .foto {
        content: url("imagen_cerle.png")
        width="20%"
        height="30%"
    }
}
