h1 {
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: 60px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0,
      "SHRP" 0;
    display: flex;
    justify-content: center; 
    background-color: #B9E5E8;
  }

  body {
    background-color: #DFF2EB
  }

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; 
    align-items: center;
    gap: 5px;
  
}
.button {
  border-radius: 10px;
    width: auto;
    height: auto;
    display: flex;
}

.foto1 {
    width: 100%;
    height: auto;
}

.foto2 {
    width: 100%;
    height: auto;

}
