h1 {
    font-family: "Geologica", sans-serif;
    font-optical-sizing: auto;
    font-weight: 60px;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0,
      "SHRP" 0;
    display: flex;
    justify-content: center; 
    background-color: #B9E5E8;
    text-align: center;
    margin-top: 20px;
  }

  body {
    background-color: #DFF2EB
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.contenedor{
   display: flex;
   justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  
}
.button {
  border-radius: 10px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.foto1 {
    width: 100%;
    height: auto;
}

.foto2 {
    width: 100%;
    height: auto;

}
